<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <title></title>
</head>
<body class="container">
  <nav>
    <ul>
      <li> <a class="nav_text" href="/">Home</a> </li>
      <li> <a class="nav_text" href="/tracks/new">New Track</a> </li>
      <li> <a class="nav_text" href="/users/signup">Sign up</a> </li>
      <li> <a class="nav_text" href="/users/signin">Sign in</a> </li>
      <li> <form class="nav_text" method="GET" action="/users/signout">
      <input type="submit" Value="Sign out">
      </form> </li>
      <li class="nav_text">  
        <% if session["user"] != nil %>
          <p>Welcome <%= session[:email] %></p>
        <% end %>
      </li>
    </ul>
  </nav>
  <br>
  <%= yield %>
</body>
</html>
